* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Noto Sans", sans-serif;
}
 
/* ------ Flex ------ */
.flex{
    display: flex;
    flex-wrap: wrap;
}
 
.spaceBetween{
    justify-content: space-between;
}
 
.container{
    max-width: 1200px;
    margin: auto;
}
 
.alignCenter{
    align-items: center;
}
.black{
    color: black;
}
 
.black:hover{
color: #4d3e9a;
}
 
.white{
    color: white;
}

    font-size: 60px;
    margin: 20px 0;
}
.bgred{
    background-color: red;
}
.flexend{
    justify-content: flex-end;
    align-items: flex-end;
}
header>nav{
    margin: auto;
}
.w75 {
    width: 75%;
}